@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.container {
    background-image: linear-gradient(to right, #f2ebfe, #dac0ff);
    height: 100%;
    padding: 20px;
    padding-top: 5px;

}

.headingPara {
    padding: 15px;
    padding-left: 0px;
}

.imageCSS {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

#timer {
    font-size: 35px;
    font-weight: 500;
}

span {
    font-size: 35px;
    margin-left: 5px;
}

.h1 {
    color: #690cb0;
    font-weight: 700;
    font-size: 10.2vw;
}

.card {
    background-color: #f2ebfe;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 15px;
    font-weight: 600;
}

#quoteInput {
    border-radius: 4px;
    padding: 5px;
    text-align: justify;
}

#result {
    font-size: 18px;
    font-weight: 500;
    margin: 25px 0px;
}

#submitBtn {
    background-color: #690cb0;
    color: white;
    font-weight: 500;
    margin-right: 20px;
    border-radius: 7px;
}

#resetBtn {
    font-weight: 500;
    border-radius: 7px;
}